/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
.leaflet-control-geocoder {
  position: fixed !important;
  top: 80px !important;
  left: 0 !important;
  display: block !important;
  width: 350px !important;
  background-color: white;
}

ul.leaflet-control-geocoder-alternatives.leaflet-control-geocoder-alternatives-minimized  li  a{
  width: 100%!important;
}
ul.leaflet-control-geocoder-alternatives.leaflet-control-geocoder-alternatives-minimized li  {
  list-style-type: none!important;
}
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  // padding-bottom: 40px !important;
  // text-align: left !important;
  // padding-left: 10px !important;
  // font-size: 0.5rem;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
}
a.leaflet-popup-close-button{
  display: none;
}



img.leaflet-marker-icon.huechange.leaflet-zoom-animated.leaflet-interactive {
  // background: white;
  border-radius: 20%;
  // filter: hue-rotate(120deg);
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('./assets/icon/burger-bar.png')!important;
  background-size: 26px 26px;
}
